@model IEnumerable<EntityLayer.Concrete.Blog>
@*<style>
        .site-cover {
            background-size: cover;
            background-position: top center;
            height: 670px;
            position: relative;
        }
    </style>*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{ string color = "post-category text-white bg-dark mb-3";}
@foreach (var x in Model)
{


    if (x.Category.CategoryName == "Seyahat")
    {
        color = "post-category text-white bg-success mb-3";
    }
    if (x.Category.CategoryName == "Spor")
    {
        color = "post-category text-white bg-primary mb-3";
    }
    if (x.Category.CategoryName == "Politika")
    {
        color = "post-category text-white bg-danger mb-3";
    }
    if (x.Category.CategoryName == "Eğitim ve Kariyer")
    {
        color = "post-category text-white bg-warning mb-3";
    }
    if (x.Category.CategoryName == "Yazılım - Teknoloji")
    {
        color = "post-category text-white bg-info mb-3";
    }
    if (x.Category.CategoryName == "Müzik ve Sanat")
    {
        color = "post-category text-black bg-warning mb-3";
    }
    if (x.Category.CategoryName == "Finans")
    {
        color = "post-category text-white bg-dark mb-3";
    }
    if (x.Category.CategoryName == "Evcil Hayvanlar")
    {
        color = "post-category text-warning bg-secondary mb-3";
    }
    if (x.Category.CategoryName == "Alternatif Hayat")
    {
        color = "post-category text-black bg-success  mb-3";
    }
}

@foreach (var x in Model)
{
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@x.BlogImage');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <a href="/Blog/BlogByCategory/@x.CategoryID" class="@color">@x.Category.CategoryName</a>
                        <h1 class="mb-4"><a>@x.BlogTitle</a></h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@x.Author.AuthorImg" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">@x.Author.AuthorName</span>
                            <span>&nbsp;-&nbsp;@x.BlogDate.ToString("d MMM yyy")</span>
                            <br />
                            <br />
                            <span style="margin-left:17px" class="fa fa-star">@x.BlogRating</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
