@model IEnumerable<EntityLayer.Concrete.Author>
@{
    ViewBag.Title = "AuthorList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    @foreach (var x in Model)
    {
        <div class="col-md-4">


            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user" style="height:260px">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: url('../../miniblog/images/b3.jpg') fixed center ">
                    <a style="color:white" href="/Blog/AuthorBlogList/@x.AuthorID">
                        <h5 class="text-left">@x.AuthorTitle</h5>
                        <h3 style="display:flex" class="widget-user-username text-right">@x.AuthorName</h3>
                    </a>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="@x.AuthorImg" alt="User Avatar">
                </div>
                <div class="card-footer" style="background-color:#e1e1e1;height:125px;">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div style="width:350px;float:left;margin-top:7px" class="description-block;">
                                <div style="max-width:500px">
                                    <a>@x.AuthorDetail</a>
                                </div>
                                <strong class="description-header">@x.AuthorMail</strong>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <div class="col-sm-4 border-right">
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <br />
                                <h5 style="margin-top:0px" class="description-header">@x.AuthorPhoneNumber</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    }
</body>
</html>
<div style="margin-top:350px;margin-left:80px">
    <a style="margin-left:10px; height:55px;padding:15px 25px" href="/Author/AddAuthor/" class="btn btn-primary">Yeni Yazar Girişi</a>
</div>
